@use '../../../scss/base/variables' as va;
@use 'sass:color';


.btnForm {
    width: 100%;
    padding: 1rem;
    background-color: va.$primary-color;
    color: va.$color-text;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: color.adjust(va.$primary-color, $lightness: -10%);
    }
}