@use 'react-big-calendar/lib/css/react-big-calendar.css';
@use '../../../scss/base/variables' as va;
@use "sass:color";
@use 'sass:math';

.noDevice{
    background-color: color.scale(va.$secondary-color, $lightness: 4%);
    color: color.scale(va.$tertiary-color, $lightness: 15%);
    min-height: 100vh;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg {
        font-size: 5rem;
    }
}
.HomeContainer {
    padding: 0 40px 40px 40px;
    background-color: color.scale(va.$secondary-color, $lightness: 4%);
    min-height: 100vh;
    font-size: 1.5rem;
    color: va.$color-text;
    h2{
        color: color.scale(va.$primary-color, $lightness: 25%);
    }
}

.connected {
    color: #27ae60;
}

.disconnected {
    color: #c0392b;
}

.contentHome {
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
    grid-template-rows: auto auto auto;
    gap: 25px;
    grid-template-areas: 
        "food-control pet-info"
        "food-control device-status"
        "activity schedule";
}
.card-food-control {
    grid-area: food-control; 
}

.card-pet-info {
    grid-area: pet-info;
    p {
        display: flex;
        justify-content: space-between;
        label {
            font-weight: bold;
        }
        padding: 0 5rem 0 5rem;
    }
}

.card-device-status {
    grid-area: device-status;
    p {
        display: flex;
        justify-content: space-between;
        padding: 0 3rem 0 3rem;
        font-weight: bold;
        
        label {
            font-weight: bold;
            text-transform: uppercase;
            svg {
                font-size: 16px;
            }
        }
        strong {
            text-transform: none;
            font-weight: normal;
        }
    }
}

.card-schedule {
    grid-area: schedule;
}

.card-activity {
    grid-area: activity;
}

.card-food-control {
    .foodControls {
        flex-grow: 1; 
    }
}

.card {
    background-color: va.$background-card;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1.5px solid color.scale(va.$primary-color, $lightness: -65%);
    h2{
        text-align: center;
        text-transform: uppercase;
    }
}



.foodControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    form{
        width: 100%;
        .inputPortion {
            outline: none;
            padding: 0 0 8px 0;
            margin: 15px;
            text-align: center;
            align-items: center;
            background-color: va.$background-card;
            border-style: none;
            border-bottom: 2px solid va.$tertiary-color;
            color: va.$color-text;
            font-size: 1.7rem;
            margin-bottom: 20px;
            transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            &:focus-within {
                border-bottom: 2px solid va.$primary-color;
                transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out

            }
        }
        button{
            width: 50% !important;
            padding: 13px !important;
            font-size: 2rem !important;
            text-transform: uppercase !important;
        }
    }
}

.foodLevelContainer {
    position: relative;
    width: 250px;
    height: 250px;
    text-align: center;
}

.circleBar {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
}

.circleBg {
    fill: none;
    stroke: #ecf0f1;
    stroke-width: 2.5;
}

.circle {
    fill: none;
    stroke: #3498db;
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease-in-out;
}

.percentage {
    font-size: 0.5em;
    fill: #333;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
    transform: rotate(90deg);
}




// form{
//     width: 100%;
//     padding: 10px;
//     button {
//         width: 60% !important;
//         border-radius: 15px !important;
//         font-size: 1.7rem !important;
//         height: auto !important;
//         text-transform: uppercase !important;
//     }
//     input{
//         width: 100% !important;
//         padding: 10px !important;
//     }
//     ._inputContainer_1rwuk_1{
//         width: 10% !important;
//     }
// }

.dispenseButton:hover {
    background-color: color.adjust(va.$primary-color, $lightness: -10%);
}

.deviceStatus {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.wifiIcon {
    text-align: center;
    font-size: 2.5rem;
    vertical-align: middle;
}

//Historial
.historyContainer{
    max-height: 330px;
    overflow-y: auto;
    margin-top: 18px;
    padding: 15px;
    &::-webkit-scrollbar{
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: #2c2f33;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #55585c;
        border-radius: 10px;
        border: 2px solid #2c2f33;
    }
    .historyItem{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        font-size: 15px;
        border-bottom: 2px solid #6d6b6b;
        strong{
            color: color.scale(va.$primary-color, $lightness: 50%);
            text-transform: uppercase;
        }
    }
}
// Horarios Programados
.calendarContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    :global {
        border: none !important;
        outline: none !important;
    /* Estilo general del calendario */
    .rbc-calendar {
        background-color: rgba(70, 19, 102, 0.1);
        border-radius: 12px;
        border: 1px solid #5c5566;
        padding: 8px;
        color: #ffffff;
        font-size: 0.85rem;
        width: 100% !important;
        height: 320px !important;
    }

    /* Toolbar superior */
    .rbc-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 11px;

        button {
            background-color: #ffffff;
            color: #626060;
            border: none;
            border-radius: 6px;
            padding: 4px 3px;
            font-size: 0.7rem;
            font-weight: 300;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #59248a;
                color: #ffffff;
            }

            &:active,
            &.rbc-active {
                background-color: #004d40;
            }
        }
    }

    /* Cabecera de los días */
    .rbc-header {
        background-color: rgba(245, 245, 245,0.1);
        padding: 6px !important;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        color: #ffffff;
        // border-bottom: 2px solid #e0e0e0;
        border: none !important;
        outline: none !important;
    }

    /* Día actual */
    .rbc-today {
        background-color: rgb(117, 61, 146) !important;
    }

    /* Cada celda de día */
    .rbc-date-cell {
        font-weight: 500;
        color: #e8e8e8;
        padding: 4px;
        text-align: center;
    }

    /* Eventos */
    .rbc-event {
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        border-radius: 50px !important;
        outline: none !important;
        box-shadow: none !important;
    }
    .rbc-event-content {
        margin: -2px !important;
        font-size: 0.75rem;
        font-weight: 600;
        text-align: center;
        color: #fff;
    }
    .rbc-month-view, .rbc-month-row {
        border: none !important;
    }

    .rbc-day-bg {
        border: 1px solid rgba(92, 85, 102, 0.4) !important;
        outline: none !important;
        // flex: 1 0 0%;
        // background-color: #846192 !important;
        
    }
    .rbc-off-range-bg{
            background-color: rgba(109, 61, 138, 0.5) !important;
        }

    .rbc-selected {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }



    /* Agenda view */
    .rbc-agenda-event {
        border-radius: 6px;
        padding: 3px;
        background-color: #ff9800;
        color: #fff;
    }



    .rbc-btn-group:last-child {
      display: none;
    }
    }
    
}
.legend {
    border-radius: 8px;
    padding: 0.75rem 1rem;
    min-width: 180px;
    font-size: 0.85rem;

    h4 {
        margin-bottom: 2rem;
        font-size: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
        font-size: 12px;
    }
}

.colorDot {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 0.5rem;
}