@use '../../../scss/base/variables' as va;
@use 'sass:color';


.inputContainer {
    display: flex;
    align-items: center;
    outline: none;
    border-radius: va.$border-radius;
    background-color: #211B27;
    padding: 1.3rem;
    margin-bottom: 2rem;  
    &:focus-within {
        border: 1px solid va.$color-btn;
        border-radius: va.$border-radius;
        // border-color: color.scale(#dfe9ed, $lightness: -10%);
        transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out
    }
    input{
        &::placeholder {
            color: #868a8d;
        }
    }
    .icon {
        color: #c8d1d6;
        margin-right: 0.75rem;
        font-size: 1.5rem;
    }

    .input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1rem;
        color: #f8f8f8;
        font-size: 1.3rem;
    }
}