@use '../../../../node_modules/normalize.css/normalize.css';
@use '../../../scss/base/variables' as va;
@use '../../../scss/base/mixins' as m;
@use 'sass:color';
@use 'sass:math';


.sidebar{
    background-color: color.mix(va.$primary-color, va.$secondary-color, 7%);
    font-size: 2.3rem;
    color: va.$color-text;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    .logo{
        display: none;
    }
    .navPet{
        width: 100%;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 0;
            list-style: none;
            padding: 0;
            
            .navLink{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 15px;
                text-decoration: none;
                font-size: 1.1rem;
                text-align: center;
                color: va.$color-text;
                border-radius: 10px;
                margin-bottom: 0;
                transition: background-color 0.3s ease, color 0.3s ease;
                &:hover{
                    background-color: color.scale(va.$tertiary-color, $lightness: -40%);
                    color: #f5f6f7;
                    transform: scale(1.05);
                }
                svg{
                    margin-bottom: 4px;
                    font-size: 2.5rem;
                }
        
            }
            .active{
                background-color: color.scale(va.$primary-color, $lightness: -30%);
                color: va.$color-text;
                cursor: default;
            }
            .active:hover {
                // background-color: color.adjust(va.$color-btn, $lightness: -10%);
                background-color: color.scale(va.$primary-color, $lightness: -30%);
                color: va.$color-text; 
                transform: none; 
            }
            
        
        }
        
    }
    @include m.tablet{
        top: 0;
        left: 0;
        bottom: auto;
        width: 300px;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        position: fixed;

        .logo {
            display: flex;
            padding: 10px;
            margin-bottom: 50px;
            img{
                width: 60px;
                height: 60px;
                margin: 0 15px 0 0;
            }
        }

        .navPet {
            ul {
                display: flex;
                flex-direction: column;
                margin-bottom: 100px;

                .navLink {
                    flex-direction: row;
                    padding: 33px 35px;
                    margin-bottom: 15px;
                    font-size: 2rem;
                    text-align: right;

                    svg {
                        margin-right: 15px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

}