@use '../../../../node_modules/normalize.css/normalize.css';
@use '../../../scss/base/variables' as va;
@use 'sass:color';
@use 'sass:math';


.sidebar{
    background-color: va.$fond-bar;
    font-size: 2.3rem;
    color: va.$text;
    width: 300px;
    height: 100vh;
    padding: 20px;
    //box-shadow: 2px 0 0 rgba(255, 255, 255, 0.523);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    .logo{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 10px;
        margin-bottom: 38px;
        img{
            width: 60px;
            height: 60px;
            margin: 0 15px 0 0;
        }
        .logoText{
            font-size: 2rem;
            //color: #cfdae2;
        }
    }
    .navPet{
        
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            
            .navLink{
                display: flex;
                align-items: center;
                padding: 33px 35px;
                text-decoration: none;
                color: va.$text-color;
                border-radius: 30px;
                margin-bottom: 25px;
                transition: background-color 0.3s ease, color 0.3s ease;
                &:hover{
                    background-color: va.$color-hover;
                    color: #f5f6f7;
                    transform: scale(1.05);
                }
                svg{
                    margin-right: 15px;
                    font-size: 2.8rem;
                }
        
            }
            .active{
                background-color: va.$color-active;
                color: va.$text-color;
                cursor: default;
            }
            .active:hover {
                // background-color: color.adjust(va.$color-btn, $lightness: -10%);
                background-color: va.$color-active; 
                color: va.$text-color; 
                transform: none; 
            }
            
        
        }
        
    }
    .btnOut{
        .logoutButton {
            margin-bottom: auto;
            background: none;
            font-size: 2.2rem;            
            border: none;
            border-radius: 30px;
            cursor: pointer;
            color: #e74c3c;
            padding: 10px 20px 10px;
            display: flex;
            align-items: center;
            width: 100%;
            transition: background-color 0.3s ease, color 0.3s ease;
    
            svg {
                margin-right: 15px;
                font-size: 2.7rem;
            }

            .buttonText {
                max-width: 0;
                overflow: hidden; 
                white-space: nowrap; 
                transition: max-width 0.5s ease-out; 
            }
            
            &:hover {
                background-color: #f7cdcd;
                color: #ff4d00;
                border-radius: 30px;
                
                .buttonText {
                    max-width: 200px; 
                }
            }
        }
    }
    
}