@use '../../../../node_modules/normalize.css/normalize.css';
@use '../../../scss/base/variables' as va;
@use '../../../scss/base/mixins' as m;
@use 'sass:color';
@use 'sass:math';


.sidebar{
    background-color: #242424;
    font-size: 2.3rem;
    color: va.$color-text;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border-radius: 20px;
    .logo{
        display: none;
    }
    .navPet{
        width: 100%;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 0;
            list-style: none;
            padding: 0;
            
            .navLink{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 15px;
                text-decoration: none;
                font-size: 1.1rem;
                text-align: center;
                color: va.$color-text;
                border-radius: 40px;
                margin-bottom: 0;
                transition: .2s ease-in-out 0s;
                &:hover{
                    background-color: color.scale(va.$tertiary-color, $lightness: -40%);
                    color: #f5f6f7;
                    transform: scale(1.05);
                }
                svg{
                    margin-bottom: 4px;
                    font-size: 2.5rem;
                }
        
            }
            .active{
                background-color: color.scale(va.$primary-color, $lightness: -30%);
                color: va.$color-text;
                cursor: default;
            }
            .active:hover {
                // background-color: color.adjust(va.$color-btn, $lightness: -10%);
                background-color: color.scale(va.$primary-color, $lightness: -30%);
                color: va.$color-text; 
                transform: none; 
            }
            
        
        }
        
    }
    @include m.tablet{
        top: 0;
        left: 0;
        bottom: auto;
        width: 300px;
        height: 83%;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        position: fixed;
        margin: 120px 0 0 15px;

        .logo {
            display: flex;
            padding: 10px;
            margin-bottom: 50px;
            img{
                width: 60px;
                height: 60px;
                margin: 0 15px 0 0;
            }
        }

        .navPet {
            ul {
                display: flex;
                flex-direction: column;
                margin-bottom: 100px;

                .navLink {
                    flex-direction: row;
                    padding: 33px 35px;
                    margin-bottom: 15px;
                    font-size: 2rem;
                    text-align: right;

                    svg {
                        margin-right: 15px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }


    &.adminSidebar {
        background-color: #1c1c1e;
        border-right: 1px solid #3a3a3c;
        margin-top: 15px;
        height: 95%;
        width: 20%;

        .logoText {
            color: va.$color-text;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .navLink {
            color: #a1a1a6; 
            
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                color: va.$color-text;
            }

            svg {
                color: va.$primary-color-admin; 
            }
        }

        .active {
            background-color: va.$primary-color-admin;
            color: va.$color-text;
            
            svg {
                color: va.$color-text;
            }
        }
        .logoutContainer{
            .logoutBtn{
                border-style: none;
                border-radius: 10px;
                padding: 1.5rem;
                background-color: #d62727;
                cursor: pointer;
                color: va.$color-text;
                transition: .2s ease-in-out 0s;

                &:hover{
                    background-color: #be2323;
                    transform: scale(1.05);
                    box-shadow: 0 0 15px #be2323;
                }
            }
        }
    }

}