@use '../../../../node_modules/normalize.css/normalize.css';
@use '../../../scss/base/variables' as va;
@use 'sass:color';
@use 'sass:math';


.sidebar{
    background-color: color.mix(va.$primary-color, va.$secondary-color, 7%);
    font-size: 2.3rem;
    color: va.$color-text;
    width: 300px;
    height: 100vh;
    padding: 20px;
    //box-shadow: 2px 0 0 rgba(255, 255, 255, 0.523);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    .logo{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 10px;
        margin-bottom: 38px;
        img{
            width: 60px;
            height: 60px;
            margin: 0 15px 0 0;
        }
        .logoText{
            font-size: 2rem;
            //color: #cfdae2;
        }
    }
    .navPet{
        ul{
            list-style: none;
            padding: 0;
            margin-bottom: 100px;
            
            .navLink{
                display: flex;
                align-items: center;
                padding: 33px 35px;
                text-decoration: none;
                color: va.$color-text;
                border-radius: 30px;
                margin-bottom: 25px;
                transition: background-color 0.3s ease, color 0.3s ease;
                &:hover{
                    background-color: color.scale(va.$tertiary-color, $lightness: -40%);
                    color: #f5f6f7;
                    transform: scale(1.05);
                }
                svg{
                    margin-right: 15px;
                    font-size: 2.8rem;
                }
        
            }
            .active{
                background-color: color.scale(va.$primary-color, $lightness: -30%);
                color: va.$color-text;
                cursor: default;
            }
            .active:hover {
                // background-color: color.adjust(va.$color-btn, $lightness: -10%);
                background-color: color.scale(va.$primary-color, $lightness: -30%);
                color: va.$color-text; 
                transform: none; 
            }
            
        
        }
        
    }
}