.scheduleList {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.scheduleItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 1px solid #eee;
    p {
        font-size: 1.5rem;
    }
}

.scheduleItem:last-child {
    border-bottom: none;
}

.scheduleFormContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        input {
            padding: 10px;
        }
        button{
            grid-column: 1 / -1; /* botón ocupa ambas columnas */
            justify-self: center; /* opcional: centra el botón */
            margin-top: 1rem;
        }
    }
}
.daySelection {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.dayButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    
    input[type="checkbox"] {
        display: none;
    }

    &:has(input[type="checkbox"]:checked) {
        background-color: #3498db;
        border-color: #3498db;
        color: white;
    }
}
.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #e74c3c;
    font-size: 2.7rem;
    transition: color 0.2s ease;
}

.deleteButton:hover {
    color: #c0392b;
}