@use 'variables' as va;

html{
    font-size: 62.5%; 
    box-sizing: border-box;
    scrollbar-width: 8rem;
    height: 100%;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}


body {
    font-family: va.$fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
    color: va.$negro;
    background-color: va.$background-color;
}