@use 'variables' as va;
@use 'sass:color';
@use 'sass:math';

html{
    font-size: 62.5%; 
    box-sizing: border-box;
    scrollbar-width: 8rem;
    height: 100%;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}


body {
    font-family: va.$fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
    color: va.$color-text;
    background-color: color.scale(va.$secondary-color, $lightness: 4%);
}