@use "variables" as va;

@mixin telefono {
  @media (min-width: va.$telefono) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: va.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: va.$desktop) {
    @content;
  }
}

@mixin desktopXL {
  @media (max-width: va.$desktopXL) {
    @content;
  }
}

@mixin telefono-max {
  @media (max-width: (va.$tablet - 1px)) {
    @content;
  }
}
