.custom-toast {
    font-family: 'Poppins', sans-serif; 
    border-radius: 12px;
    font-size: 2rem !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    
    &-success {
        background-color: #e8f5e9;
        color: #2e7d32;
        border: 1px solid #a5d6a7;
        font-size: 2.1rem !important;
    }

    &-error {
        background-color: #ffeeb2; 
        color: #b35a00;
        border: 1px solid #ffcc80;
        font-size: 2.1rem !important;
    }
}