$fuente_principal : "Montserrat", sans-serif;

$primary-color: #8006F9;
$secondary-color: #080808;
$tertiary-color: #515052;
$color-text: #fefefe;
$background-card: #1c1c1d;
$color-btn_Food: #d06800;


$primary-color-admin: #0063db;
$secondary-color-admin: #3a3a3c;


//Media Queries
$telefono: 480px;
$tablet: 990px;
$desktop: 1024px;
$desktopXL: 1280px;
$ultraWide: 1440px

