$fuente_principal : "Montserrat", sans-serif;


//Temas formulario registro/Login
$background-forms: #141118;
$title-form: #bbbcc5;
$color-btn: #8006F9;
$border-color: #8006F9;

//Tema primera propuesta
$background-color: #141118;
$color-btn_dashboard: #8006F9;
$border-radius: 7px;

$color-primary: #8006F9;

// $background-card: #041429;
$background-card: #1d1824;
$border-color-card: #574d62;
// $background-card: #3b8c97;
$negro: #000000;
$text: #fefefe;
$font-family: 'Segoe UI', sans-serif;


//Barra de navegacion navbar
$fond-bar:#1d1824;
$color-active: #3e1f5c;
$color-hover: #3c383f;
$text-color: #cfdae2;


//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;


//Tema segunda propuesta
$background_primary: #25274d;
$background_secundary: #464866;
$background_tecr: #aaabb8;
$background_cuart: #2e9cca;
$background_quint: #29648a;
