$fuente_principal : "Montserrat", sans-serif;


//Temas formulario registro/Login
$background-forms: #689fa6;
$title-form: #0c5862;
$color-btn: #0f717e;

//Tema primera propuesta
$background-color: #211e1e;
$color-btn_dashboard: #de9817;
$border-radius: 13px;
// $background-card: #041429;
$background-card: #172d30;
// $background-card: #3b8c97;
$negro: #000000;
$text: #fefefe;
$font-family: 'Segoe UI', sans-serif;


//Barra de navegacion navbar
$fond-bar:#333;
//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;


//Tema segunda propuesta
$background_primary: #25274d;
$background_secundary: #464866;
$background_tecr: #aaabb8;
$background_cuart: #2e9cca;
$background_quint: #29648a;

// $primary: #fbe8a6;
// $secundary: #f4976c;
// $tecr: #303c6c;
// $cuart: #b4dfe5;
// $quint: #d2fdff;

// $Primario: #1E6F5C;
// $Secundario:#F2BB6F;
// $Terciario:	#F9F9F9;
// $Cuarto:#333333;
// $Quinto:#EA5455;


// $fondo: #211e1e;
// $fondo_sec:#e0e0e0;
// $text-prob:	#0f717e;
// $button:#a0a0a0;
// $alert:#ea5455;