@use '../../../scss/base/variables' as va;
@use "sass:color";
@use 'sass:math';

.container {
    padding: 50px;
    background-color: va.$background-color;
    min-height: 100vh;
    font-size: 1.8rem;
}

.contentGrid {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: va.$background-card;
    padding: 25px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding: 0 60px 20px 60px;
        label{
            font-weight: bold;
        }
        button:nth-child(5){
            grid-column: 1 / span 2;
        }
        input{
            padding: 9px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }
        button{
            padding: 10px;
            background-color: va.$color-btn_dashboard;
            border: none;
            color: white;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: color.adjust(va.$color-btn_dashboard, $lightness: -10%);
            }
        }
    }
    .scheduleTableContainer {
    width: 100%;
    // max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

.scheduleTable {
    width: 85%;
    border-collapse: collapse;
    
    table-layout: fixed;
    border-radius: 12px; 
    overflow: hidden;

    th, td {
        border-bottom: 1px solid #5e4975; 
        text-align: center;
        padding: 17px;
    }


    thead th {
        background-color: #2a2a2a; 
        color: #f0f0f0;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: 2px solid var(--color-primary, #6d10b9);
    }

    tbody td {
        font-size: 1.4rem;
        font-weight:lighter;
    }
    .timeCell {
        width: 10%;
    }

    .portionCell {
        text-align: center;
        width: 10%;
    }
    
    .dateCell {
        width: 40%;
    }

    .actionCell {
        text-align: center;
        width: 15%;
    }

    .scheduleRow:hover {
        background-color: #1e1e1e; 
    }


    .portionCell {
        text-align: center;
        width: 10%;
    }
    
    .timeCell {
        width: 15%;
    }

    .actionCell {
        text-align: center;
        width: 10%;
    }
}

.deleteButton {
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;
    font-size: 3rem;
    opacity: 0.8;
    transition: opacity 0.2s;
    
    &:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}
}