@use '../../../scss/base/variables' as va;
@use "sass:color";
@use 'sass:math';

.container {
    padding: 50px;
    background-color: va.$background-color;
    min-height: 100vh;
    font-size: 1.8rem;
}

.header {
    margin-bottom: 20px;
    h1 {
        font-size: 2rem;
        color: #ffffff;
    }
    p {
        color: #979797;
    }
}

.contentGrid {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: va.$background-card;
    padding: 25px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 60px 20px 60px;
        label{
            font-weight: bold;
        }
        input{
            padding: 9px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }
        button{
            padding: 10px;
            background-color: va.$color-btn_dashboard;
            border: none;
            color: white;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: color.adjust(va.$color-btn_dashboard, $lightness: -10%);
            }
        }
    }
}