@use '../../../scss/base/variables' as va;
@use "sass:color";
@use 'sass:math';

.containerHistory {
    padding: 20px 50px; 
    background-color: va.$background-color;
    color: white;
    min-height: 100vh;
    p{
        font-size: 2.2rem;
    }
}

.headerHistory {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 30px;

    h1 {
        font-size: 2.7rem; 
        margin: 0;
    }
}

.reportButton {
    background-color: va.$color-primary; 
    color: va.$text-color; 
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s;
    
    &:hover:not(:disabled) {
        // background-color: color.darken(va.$color-primary, 10%);
        background-color: color.adjust(va.$color-primary, $lightness: -10%);
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.kpiContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-bottom: 30px;
}

.kpiCard {
    background-color: va.$background-card; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-left: 5px solid va.$color-primary;
    
    h3 {
        font-size: 1.2rem;
        color: #b0b0b0; 
        margin: 0 0 5px 0;
        font-weight: 500;
        text-transform: uppercase;
    }

    .kpiValue {
        font-size: 2.4rem;
        font-weight: bold;
        color: #ffffff; 
        margin: 0;
        line-height: 1.2;
    }
}


.tableContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 10px;
    .tableWrapper {
        background-color: va.$background-card;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        overflow: hidden; 
        width: 80%;
        display: flex;
        justify-content: center;
        max-height: 50rem;
            overflow-y: auto;
        .historyTable {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            color: #e0d7d7;
            font-size: 1rem;
            

            th, td {
                padding: 20px;
                text-align: left;
                border-bottom: 1px solid #2a2a2a; 
                font-size: 1.4rem;
            }

            thead th {
                background-color: #1e1e1e;
                color: #ffffff;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1.3rem;
            }
        
            .historyRow {
                transition: background-color 0.2s;
                &:hover {
                    background-color: #2a2a2a;
                }
                &:last-child td {
                    border-bottom: none;
                }
            }
        
            .centerText {
                text-align: center;
                width: 15%; 
            }

            .timeIcon {
                font-size: 1.7rem;
                color: va.$color-primary;
                margin-right: 8px;
                vertical-align: middle;
            }

            .tagManual, .tagScheduled {
                padding: 4px 10px;
                border-radius: 5px;
                font-size: 1.2rem;
                display: inline-block;
                text-transform: capitalize;
            }
        
            .tagManual {
                background-color: #f97316;
                color: #fff;
            }
        
            .tagScheduled {
                background-color: #10b981; 
                color: #fff;
            }
        }
    }
}



.noData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: va.$background-card;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #999;
    
    svg {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}