@use '../../../scss/base/variables' as va;
@use "sass:color";
@use 'sass:math';

.containerHistory {
    padding: 0px 50px 50px 50px; 
    background-color: color.scale(va.$secondary-color, $lightness: 4%);
    color: va.$color-text;
    min-height: 100vh;
    p{
        font-size: 2.2rem;
    }
}



.reportButton {
    background-color: va.$primary-color; 
    color: va.$color-text; 
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s;
    
    &:hover:not(:disabled) {
        // background-color: color.darken(va.$color-primary, 10%);
        background-color: color.adjust(va.$primary-color, $lightness: -10%);
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.kpiContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-bottom: 30px;
}

.kpiCard {
    background-color: va.$background-card; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-left: 5px solid va.$primary-color;
    
    h3 {
        font-size: 1.2rem;
        color: color.scale(va.$tertiary-color, $lightness: 40%);
        margin: 0 0 5px 0;
        font-weight: 500;
        text-transform: uppercase;
    }

    .kpiValue {
        font-size: 2.4rem;
        font-weight: bold;
        color: va.$color-text;
        margin: 0;
        line-height: 1.2;
    }
}


.tableContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 10px;
    .tableWrapper {
        background-color: va.$background-card;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        overflow: hidden; 
        width: 80%;
        display: flex;
        justify-content: center;
        max-height: 50rem;
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 8px;
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            background: color.scale(va.$secondary-color, $lightness: 10%);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: va.$tertiary-color;
            border-radius: 10px;
            border: 2px solid va.$tertiary-color;
        }
        .historyTable {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            color: color.adjust(va.$color-text, $lightness: -30%);
            font-size: 1rem;
            

            th, td {
                padding: 20px;
                text-align: left;
                border-bottom: 1px solid color.scale(va.$tertiary-color, $lightness: -20%);
                font-size: 1.4rem;
            }

            thead th {
                background-color: color.scale(va.$secondary-color, $lightness: 20%);;
                color: va.$color-text;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1.3rem;
            }
        
            .historyRow {
                transition: background-color 0.2s;
                &:hover {
                    background-color: color.scale(va.$secondary-color, $lightness: 5%);
                }
                &:last-child td {
                    border-bottom: none;
                }
            }
        
            .centerText {
                text-align: center;
                width: 15%; 
            }

            .timeIcon {
                font-size: 2.5rem;
                color: va.$primary-color;
                margin-right: 8px;
                vertical-align: middle;
            }

            .tagManual, .tagScheduled {
                padding: 4px 10px;
                border-radius: 5px;
                font-size: 1.2rem;
                display: inline-block;
                text-transform: capitalize;
            }
        
            .tagManual {
                background-color: #f97316;
                color: #fff;
            }
        
            .tagScheduled {
                background-color: #10b981; 
                color: #fff;
            }
        }
    }
}

.chartCard {
    h3{
        font-size: 1.8rem;
        text-transform: uppercase;
    }
}

.noData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: va.$background-card;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: va.$tertiary-color;
    
    svg {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}