.switchContainer {
  display: inline-flex;
  align-items: center;
}

.switchCheckbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 44px;
  height: 24px;
  background: #4a5568;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;

  &:active .switchButton {
    width: 28px;
  }
}

.switchCheckbox:checked + .switchLabel {
  background: #48bb78;
}

.switchButton {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switchCheckbox:checked + .switchLabel .switchButton {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}