/* src/components/layout/MainLayout.module.scss */

.mainLayout {
    display: flex;
    height: 100%;
    width: 100%;
    .contentArea {
        flex-grow: 1; 
        overflow-y: auto;
        margin-left: 300px;
        padding: 0;
        main{
            margin-top: 180px;
        }
    }
}
