@use '../../scss/base/variables' as va;
@use '../../scss//base//mixins' as m;
@use 'sass:color';
@use 'sass:math';

.mainLayout {
    background-color: color.scale(va.$secondary-color, $lightness: 17%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    .contentArea {
        flex-grow: 1; 
        margin-left: 0px;
        padding: 0;
        main{
            margin-top: 100px;
            padding: 2rem;
        }
    }

    @include m.tablet {
        flex-direction: row;
        .contentArea {
            margin-left: 300px; 
            main {
                margin-top: 120px; 
            }
        }
    }
    // &.adminTheme {
    //     background-color: #f5f5f7; 
        
    //     .contentArea {
    //         main {
    //             background-color: transparent; 
    //         }
    //     }
    // }
}
