.container{
    margin-top: -100px;
    padding: 0 3rem 0 5rem;
    font-size: 1.5rem;
}
.deviceGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    font-size: 1.5rem;
}

.deviceCard {
    background: rgb(39, 39, 39);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statusIndicator {
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    .dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
    }

    .online {
        color: #27ae60;
        .dot {
            background-color: #2ecc71;
            box-shadow: 0 0 8px #2ecc71; // Brillo verde
            animation: pulse-green 2s infinite;
        }
    }

    .offline {
        color: #c0392b;
        .dot { background-color: #e74c3c; }
    }
}

@keyframes pulse-green {
    0% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(46, 204, 113, 0.7); }
    70% { transform: scale(1); box-shadow: 0 0 0 10px rgba(46, 204, 113, 0); }
    100% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(46, 204, 113, 0); }
}