@use '../../../scss/base/variables' as va;
@use '../../../scss//base//mixins' as m;
@use 'sass:color';
@use 'sass:math';

.contectHeader{
    text-align: center;
    top: 0;
    right: 0;
    left: 0px;
    z-index: 1000;
    padding: 15px;
    background-color: color.mix(va.$primary-color, va.$secondary-color, 7%);
    position: fixed;
    border-bottom: 5px solid va.$primary-color;
    .appHeader{
        font-size: 0.8rem;
        color: va.$color-text;
        text-align: start;
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 10px;
        align-items: center;
    }

    @include m.tablet {
        left: 300px;
        .appHeader{
            font-size: 1.4rem;
        }
    }

}