@use '../../../scss/base/variables' as va;
@use '../../../scss/base/mixins' as m;
@use "sass:color";
@use 'sass:math';

.containerConfig {
    padding: 10px;
    background-color: transparent;
    color: va.$color-text;
    margin-bottom: 60px;
    @include m.tablet{
        padding: 30px 50px 0px 50px;
        min-height: 100vh;
    }
}

.contentGrid{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 3rem;
    margin: 0 auto;
    @include m.telefono{
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

.card {
    background: va.$background-card;
    border-radius: 12px;
    padding: 30px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
    font-size: 1.5rem;
    form{
        input{
            height: 18px !important;
        }
    }

    h3 {
        color:  va.$primary-color;
        text-align: left;
        margin-bottom: 3.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        padding-bottom: 0.5rem;
        font-size: 2.2rem;
    }

    p {
        color: color.scale(va.$tertiary-color, $lightness: 15%);
        font-size: 1.5rem;
        margin: 2rem 0 2rem 0;
        padding: 5px;
        label, strong{
            font-size: 1.36rem;
        }
        
    }
    .deviceInfo {
        font-size: 2rem;
        margin: 1rem 0 2rem 0;
        color: va.$color-text;
        display: flex;
        justify-content: space-between;
    }
    @include m.tablet{
        padding: 40px;
        margin: 5px;
        font-size: 2rem;
        h3{
            font-size: 2.7rem;
        }
        h4{
            font-size: 2rem;
        }
        p{
            label, strong{
                font-size: 1.9rem;
            }
        }
        .deviceInfo{
            justify-content: space-between;
        }
    }
}