@use 'sass:color';
@use '../../scss/base/variables' as va;
@use '../../scss//base//mixins' as m;

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  color: va.$color-text;
  background-color: color.scale(va.$secondary-color, $lightness: 7%);
  padding: 5rem;
  width: 80%;
  max-width: 500px;
  height: 80vh;
  margin: 5rem auto;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(116, 164, 190, 0.3);
  font-family: va.$fuente_principal;

  h2 {
    // color: va.$title-form;
    margin-bottom: 2rem;
    text-align: center;
  }
  form{
      input{
        font-size: 1.2rem !important;
      }
  }
  
  button{
    .circle-loader{
      border: 2px solid color.scale(va.$tertiary-color, $lightness: 30%);
      border-left-color: #fff;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      animation: circle-loader-circ 1.2s linear infinite;
      cursor: not-allowed;
      
    }

    @keyframes circle-loader-circ {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .button:disabled {
  background-color: va.$tertiary-color;
  cursor: not-allowed;
  opacity: 0.7;
}
  .registerPrompt{
    text-align: center;
    margin-top: 0;
    a{
      text-decoration: none;
      color: va.$primary-color;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
        color: color.adjust(va.$primary-color, $lightness: 15%);
      }
    }
  }
  @include m.telefono {
    font-size: 1.5rem;
    form{
      input{
        font-size: 1.4rem !important;
      }
    }
    .registerPrompt{
      margin-top: 0;
    }
  }
}