@use 'sass:color';
@use '../../scss/base/variables' as va;

.loginContainer {
  font-size: 1.5rem;
  background-color: #7c83ad;
  padding: 3rem;
  max-width: 400px;
  margin: 5rem auto;
  border-radius: va.$border-radius;
  box-shadow: 0 6px 10px rgba(189, 165, 185, 0.5);
  font-family: va.$fuente_principal;

  h2 {
    color: va.$primary-color;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  input{
    margin-bottom: 1.5rem;
  }
  
  button{
    .circle-loader{
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-left-color: #fff;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      animation: circle-loader-circ 1.2s linear infinite;
      margin: 0 auto;
      cursor: not-allowed; // Cambia el cursor a un círculo con una línea diagonal
      
    }

    @keyframes circle-loader-circ {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .button:disabled {
  background-color: #cccccc; // Color gris para indicar que está inactivo
  cursor: not-allowed; // Cambia el cursor a un círculo con una línea diagonal
  opacity: 0.7; // Reduce la opacidad
}
  .registerPrompt{
    text-align: center;
    a{
      text-decoration: none;
      color: va.$primary-color;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
        color: #bfa9ba;
      }
    }
  }
}