@use '../../../scss/base/variables' as va;
@use 'sass:color';
@use 'sass:math';

.circleBar {
    // transform: rotate(-90deg);
    transform-origin: center;
}

.circleBg {
    fill: none;
    stroke: color.mix(va.$primary-color, va.$secondary-color, 33%); 
    stroke-width: 3; /* Ajusta el grosor */
}

.circle {
    fill: none;
    stroke: color.adjust(va.$primary-color, $lightness: 5%);
    stroke-width: 3; 
    transition: stroke-dasharray 0.5s linear;
}

.percentage {
    text-anchor: middle;
    fill: #ffffff; 
    font-size: 6px;
    font-weight: bold;
}