@use '../../../scss/base/variables' as va;
@use 'sass:color';

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleBar {
    transform: rotate(224deg);
    width: 100%;
    height: 100%;
}

.circleBg {
    fill: none;
    stroke: rgba(va.$primary-color, 0.2); 
    transition: stroke-dasharray 0.3s ease;
}

.circle {
    fill: none;
    transition: stroke-dasharray 0.5s ease-in-out;
}

.stopStart {
    stop-color: va.$primary-color;
}
.stopEnd {
    stop-color: va.$primary-color;
}

.percentage {
    fill: #ffffff;
    font-size: 8px;
    font-weight: 600;
    text-anchor: middle;
    transform: rotate(-224deg);
    transform-origin: center;
}

.label {
    fill: va.$color-text;
    font-size: 3.5px;
    font-weight: bold;
    text-anchor: middle;
    text-transform: uppercase;
    transform: rotate(-224deg);
    transform-origin: center;
}