@use 'sass:color';
@use 'sass:math';
@use '../../scss/base/variables' as va;
@import '../../../node_modules/normalize.css/normalize.css';

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  color: va.$color-text;
  background-color: color.scale(va.$secondary-color, $lightness: 7%);
  max-width: 500px;
  height: 80vh;
  padding: 5rem;
  margin: 5rem auto;
  border-radius: 25px;
  // border: 2px solid #21038f;
  // box-shadow: 0 0 10px rgba(83, 85, 242, 0.7);
  font-family: va.$fuente_principal;
  border: 1.7px solid color.scale(va.$primary-color, $lightness: 15%);

  h2 {
    // color: va.$title-form;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  img {

    display: block;
    background-color: color.scale(va.$primary-color, $lightness: 75%);
    border-radius: 50%;
    padding: 5px;
    margin:  4rem auto 4rem;
    width: 130px; 
    height: auto; 
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 6px 10px va.$tertiary-color;
    &:hover{
      transform: scale(1.08);
      transition: transform 0.5s ease-in-out;
      // box-shadow: 0 9px 13px rgba(225, 218, 218, 0.716) 0.5s;
    }
  }
  button{
    .circle-loader{
      border: 2px solid color.scale(va.$tertiary-color, $lightness: 30%);
      border-left-color: #fff;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      animation: circle-loader-circ 1.2s linear infinite;
      margin: 0 auto;
      cursor: not-allowed;
      
    }

    @keyframes circle-loader-circ {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .button:disabled {
    background-color: va.$tertiary-color; 
    cursor: not-allowed;
    opacity: 0.7;
  }
  .registerPrompt{
    text-align: center;
    a{
      text-decoration: none;
      color: va.$primary-color;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
        color: color.adjust(va.$primary-color, $lightness: 15%);
      }
    }
  }
}