@use '../../../../scss//base//variables' as va;
@use "sass:color";
@use 'sass:math';

.container {
    .error {
    color: #e74c3c;
    margin-bottom: 15px;
}

.success {
    color: #2ecc71;
    margin-bottom: 15px;
}
}


